.rounde-button {
  margin: 0;
  font-size: 200%;
  color: darkorange;
  padding: 2%;
  border-radius: 15%/30%;
  border: 3px solid darkorange;
  cursor: pointer;
  text-decoration: none;
  line-height: 1.8;
}

.rounde-button:hover {
  color: black;
  background-color: darkorange;
  transition: background-color 0.5s, color 0.2s;
}

.rounde-button:active {
  background-color: orange;
  border-color: orange;
  transition: background-color 0.1s, border-color 0.1s;
}
