.headshot {
  margin: 10% 10% 0% 10%;
  border: 4px solid teal;
}

.userName {
  color: teal;
  font-size: 44px;
  font-weight: 600;
  font-style: italic;
  line-height: 0.9;
  height: 42px;
  overflow: hidden;
}

.description {
  font-style: italic;
  color: gray;
  border-top: 1px solid teal;
  border-bottom: 1px solid teal;
  height: 54px;
  white-space: nowrap;
  overflow: hidden;
}
